@model List<Message>
@{
    ViewData["Title"] = "Messages";
}
    <div class="alert-info">Number of Messages = @ViewBag.messageCount</div>
    <h1>List of Messages:</h1> <br />
    @foreach (Message message in Model)
    {
        <br />
        <div class="@message.MessagePriority">
            <span>From: </span>@message.MessageSender <br />
            <span>To: </span>@message.MessageReceiver<br />
            <span>Message: </span>@message.MessageText <br />
            <span>Date Sent: </span>@message.DateCreated<br />
        </div>
        
        @if (message.Replies.Count > 0)
        {
            <h3>Replies to this message: </h3>
            @foreach (Reply r in message.Replies)
            {
                <span> Reply From: </span>@r.ReplySender <br />
                <span>---></span>@r.ReplyText <br />
            }
            <br />
        }
        <a asp-action="AddReply" asp-route-messageSender="@message.MessageSender">Add a Reply</a> <br />
    }
    <br>
    <a href="/Home/ContactPage">Send a Message</a><br />
    <a href="/Home">Home</a>


